#cnv{
    position: absolute;
    border: 2px solid;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
}
.rangeslider{
  width:50%;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
}
.myslider{
  -webkit-appearance: none;
  background: #FCF3CF;
  width:50%;
  height:20px;
  opacity:2;
}
.myslider:hover{
  opacity:1;
}
.myslider::-webkit-slider-thumb{
  -webkit-appearance:none;
  cursor:pointer;
  background:#34495E;
  width: 5%;
  height: 25px;
}
.radioButton{
  width:50%
  right:0;
  top:0;
  bottom:0;
  margin:auto;
}
